
<div class="gallery-preview">
    <div class="gallery-preview__image__wrapper">
        <img src="assets/img/gallery/13.jpg" class="gallery-preview__image">
        <img src="assets/img/icons/zoom.png" class="icon--top-image">
        <div class="overlay"></div>
    </div>
    <div class="gallery-preview__image__wrapper">
        <img src="assets/img/gallery/15.jpg" class="gallery-preview__image">
        <img src="assets/img/icons/zoom.png" class="icon--top-image">
        <div class="overlay"></div>
    </div> 
     <div class="gallery-preview__image__wrapper">
        <img src="assets/img/gallery/07.jpg" class="gallery-preview__image">
        <img src="assets/img/icons/zoom.png" class="icon--top-image">
        <div class="overlay"></div>
    </div>
    <div class="gallery-preview__image__wrapper">
        <img src="assets/img/gallery/04.jpg" class="gallery-preview__image">
        <img src="assets/img/icons/zoom.png" class="icon--top-image">
        <div class="overlay"></div>
    </div>
</div>

<div class="horizontal-center margin-top-2x">
    <button class="button">Explore More</button>
</div>