
<div class="gallery-preview">
    <div class="gallery-preview__image__wrapper">
        <img src="assets/img/gallery/gallery_12.jpg" class="gallery-preview__image" alt="-">
        <img src="assets/img/icons/zoom.png" class="icon--top-image" alt="zoom">
        <div class="overlay"></div>
    </div>
    <div class="gallery-preview__image__wrapper">
        <img src="assets/img/gallery/gallery_1.jpg" class="gallery-preview__image" alt="-">
        <img src="assets/img/icons/zoom.png" class="icon--top-image" alt="zoom">
        <div class="overlay"></div>
    </div> 
    <div class="gallery-preview__image__wrapper">
        <img src="assets/img/gallery/gallery_30.png" class="gallery-preview__image" alt="-">
        <img src="assets/img/icons/zoom.png" class="icon--top-image" alt="zoom">
        <div class="overlay"></div>
    </div>
    <div class="gallery-preview__image__wrapper">
        <img src="assets/img/gallery/gallery_9.jpg" class="gallery-preview__image" alt="-">
        <img src="assets/img/icons/zoom.png" class="icon--top-image" alt="zoom">
        <div class="overlay"></div>
    </div>
</div>

<div class="horizontal-center margin-top-2x">
    <a href="/gallery">
        <button class="button" >Explore More</button>
    </a>
    
</div>