<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="theme-color" content="#{{site.theme_color}}">
    <title>{{ site.title }}</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/jpg" href="{{ site.fabicon | relative_url }}"/>
    <link rel="apple-touch-icon" href="{{site.apple-touch-icon | relative_url}}">
    <!-- imported -->
    <link href='https://fonts.googleapis.com/css?family=Poppins&display=swap' rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> 
    <!-- My css -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <!-- imported -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- My js -->
    <script src="{{ "/assets/js/header.js" | relative_url }}"></script> 
    <script src="{{ "/assets/js/slide.js" | relative_url }}"></script> 
    
    <meta name="google-site-verification" content="Up52N17c6XqadMCIeHOwlxaBj6QpijuVjO7OcxjcAJA" />
    {% seo %}
  </head>
