<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="theme-color" content="#{{site.theme_color}}">
    <meta name="thumbnail" content="{{"./assets/img/thumbnail.webp" | relative_url}}"/>
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://handshakebarber.shop/">
    <meta property="og:title" content="Handshake Barbershop | Thassos Prinou | Prinos Thassou">
    <meta property="og:description" content="Handshake Barbershop located at Prinos of Thassos. We are open since 2020 and we offer old school but modern haircuts.">
    <meta property="og:image" content="{{"./assets/img/screenshot.webp" | relative_url}}">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://handshakebarber.shop/">
    <meta property="twitter:title" content="Handshake Barbershop | Thassos Prinou | Prinos Thassou">
    <meta property="twitter:description" content="Handshake Barbershop located at Prinos of Thassos. We are open since 2020 and we offer old school but modern haircuts.">
    <meta property="twitter:image" content="{{"./assets/img/screenshot.webp" | relative_url}}">
    
    <title>{{ site.title }} | Thassos Prinou | Prinos Thassou</title>
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" type="image/jpg" href="{{ site.fabicon | relative_url }}"/>
    <link rel="apple-touch-icon" href="{{site.apple-touch-icon | relative_url}}">
    <!-- imported -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /> 
    <!-- My css -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <!-- imported -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- My js -->
    <script src="{{ "/assets/js/header.js" | relative_url }}"></script> 
    <script src="{{ "/assets/js/slide.js" | relative_url }}"></script> 
    
    <meta name="google-site-verification" content="Up52N17c6XqadMCIeHOwlxaBj6QpijuVjO7OcxjcAJA" />
    {% seo %}
  </head>
