<div
    class="parallax first-image"
    style="background-image:
      radial-gradient(circle, rgba(0,0,0,0.8) 20%, rgba(0,0,0,0.2) 100%),
      url( {{ site.working_hours.img }} );"
>
    <div class="caption">
        <h2 class="title">Working Hours</h2>
        <h3 class="margin">
            {{ site.working_hours.days }}:
            {% for hour in site.working_hours.hours %}
            <br />
            {{ hour }}
            {% endfor %}
            <br/>
            {% for day in site.working_hours.days-close %}
            {{day}}: Closed
            {% endfor %}
        </h3>
    </div>

</div>
