@import "mixins";

.button {
    position: relative;
    // display: inline-block;
    font-size: 16px;
    background-color: $light-color;
    color: $white;
    border: $light-color solid 2px;
    border-radius: .2em;
    padding: .8em 2em;
    transition: all .5s ease-out;
    &:hover{
        color: $black;
        background-color: $white;
        cursor: pointer;
    }
}