.section--parallax {
    height: 60vh;
    min-height: 600px;
    padding: 0;
    overflow-x: hidden;
}

.parallax {
    width: 100%;

    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    // flex-wrap: wrap;
    // place-items: center;
    justify-content: center;
    align-items: center;

    .parallax__caption {
        text-align: center;
        color: white;
        letter-spacing: 2px;
    }
    &.first-image {
        height: 100%;
        min-height: 500px;
    }

    p {
        margin: 0 30em;
    }
    h2 {
        margin-top: 1em;
    }

    .title {
        position: relative;
    }

    .title::after {
        content: "";
        position: absolute;
        bottom: -30%;
        left: 0;
        right: 0;
        height: 4px;
        width: 2em;
        margin: auto;
        // margin: 1em auto;
        // transform: scaleX(0);
        background-color: white;
        // background: $light-color;
        transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
    }

    .margin {
        margin-top: 3em;
    }
}

// media query
@media screen and (max-width: 768px) {
    .parallax {
        background-position: top;
        background-attachment: scroll;
    }
}
