@import "mixins";

#slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}
  
.swiper-slide {
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0s;
}

.slide-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.swiper-pagination-bullet-active {
    background: #fff!important;
}

.swiper-button-next, .swiper-button-prev  {
    color: #fff!important;
}

.caption-img {
    // aspect-ratio: 2 / 1;
    aspect-ratio: 273 / 85; // this needs to be changed!!!
    width: 512px;
}

@media screen and (max-width: 980px) {
    .swiper-button-next, .swiper-button-prev  {
        display: none!important;
    }
    #slider .img-responsive {
        width: 100%;
    }

}
