<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

{%- include head.html -%}
    <body>
        {%- include header.html -%}

        {%- include slide.html
            slide = page.slide
        -%}

        <section>
            {%- include section-text.html
                title = page.intro.title
                text = page.intro.text
            -%}
        </section>

        <div class="anchor" id="about">
            {%- include img-text.html
                img = page.about.img
                pretitle = page.about.pretitle
                title = page.about.title
                prelusion = page.about.prelusion
                text = page.about.text
            -%}
        </div>

        <div class="anchor" id="pricing">
            <section>
                {%- include section-text.html
                    title = "Services"
                    text = page.services.title
                -%}
            
                <div class="services">
                    <div class="even-column">
                        {% for service in page.services.service %}
                            <div class="card">
                                <img src="{{service.icon}}" class="icon img-responsive" alt="-">
                                <h2> {{ service.title }} </h2>
                                <p class="disc"> {{ service.desc }} </p>
                                <div class="wraper--price-tag">
                                    <p class="price-tag"> {{ service.price }} € </p>
                                </div>
                            </div>
                        {% endfor %}
            
                        <div class="card more">
                            <h2> {{ page.services.more.title }} </h2>
                            <p> {{ page.services.more.desc }} </p>
                            <a href="#contact" class="button"> Contact Now </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="anchor" id="availability">
            <section class="section--parallax">
                {%- include working-hours.html -%}
            </section>
        </div>

        <section class="anchor section--2x" id="gallery">
            {%- include section-text.html
                title = page.gallery.title
                text = page.gallery.desc
            -%}
        </section>

        {%- include gallery-preview.html -%}

        <section class="section--2x">
            {%- include section-text.html
                title = page.appointment.title
                text = page.appointment.desc
            -%}
        </section>


        
            
        <div class="anchor" id="contact">
            {%- include contact.html
                photo = page.appointment.img
            -%}
        </div>

        <section>
            {%- include brands.html -%}
            {%- include social.html -%}
        </section>

        {%- include footer.html -%}
    </body>
</html>
